.product-details {
    padding-top: 100px;
    padding-bottom: 150px;
}

.details .name {
    font-size: 20px;
    font-weight: 800;
}

.details .social-icons {
    font-size: 35px;
}

.details .social-icons i {
    margin-left: 10px;
}
.details .social-icons i.fa-whatsapp {
    color: #25D366;
}
.details .social-icons i.fa-phone {
    color: #3e65cf;
}
.details .social-icons i.fa-envelope {
    color: #c71610;
}




.info-section .marbles-list {
    list-style: none;
    padding: 0;
}

.info-section .marbles-list li {
    padding: 0;
    margin-bottom: 40px;
}

.info-section .marbles-list li a {
    color: #bea67a;
    text-shadow: lightgray 0px 0px 2px;
}